# Node.js
node_modules/
*.log

# Python
venv/
__pycache__/
*.py[cod]
*.pyo

# Hugo
public/
resources/_gen/
.hugo_build.lock

# Editor/IDE
.vscode/
.idea/
.DS_Store

# GitHub Workflow secrets or temporary files
.github/.env
